# Prediction of the four different cluster
<br/>
We will try in this notebook to predict the four clusters in the hplc dataset from the 3x1m signal.

In [1]:
import pandas as pd

hplc_fluo = pd.read_csv("/home/flavien/Documents/these/mf/Boussole/Output/Data/Compiled/hplc_mf_clusterised.csv")
hplc_fluo.head()
#hplc_fluo = hplc_fluo[hplc_fluo["cluster"] != "group_1" ]

,date,bouss,depth,temp,fluo_440,fluo_470,fluo_532,f440_f470,f532_f470,bb700,...,dv_chla,chla,t_chla,sumpig,CA1,CA2,CA3,f532_f440,group,cluster
0,2020-12-09,225,80,14.166140,105.760870,117.934783,97.217391,0.896774,0.824332,105.857143,...,0.0621,0.1247,0.1867,0.4915,-6.411167,-3.982536,4.927617,0.919219,1,group_1
1,2020-12-09,225,70,14.465737,68.406780,80.491525,53.932203,0.849863,0.670036,111.076923,...,0.0587,0.1629,0.2216,0.5282,-4.740563,-2.604692,3.071990,0.788404,1,group_1
2,2020-12-09,225,60,14.919329,81.857143,96.714286,58.190476,0.846381,0.601674,134.333333,...,0.0458,0.3454,0.3912,0.8056,-1.065213,-0.234678,-0.758305,0.710878,1,group_1
3,2020-12-09,225,50,14.933439,85.333333,98.375000,56.695652,0.867429,0.576322,136.190476,...,0.0458,0.3512,0.3970,0.8203,-0.999813,-0.153111,-0.821612,0.664402,1,group_1
4,2020-12-09,225,40,14.959752,92.979167,101.583333,57.127660,0.915299,0.562372,138.425532,...,0.0457,0.3516,0.3973,0.8166,-1.009486,-0.129671,-0.799814,0.614414,1,group_1

In [2]:
target_name = "cluster"
target = hplc_fluo[target_name]
target.value_counts()

group_2    55
group_3    28
group_1    25
Name: cluster, dtype: int64

In [3]:
data = hplc_fluo[["fluo_440", "fluo_470", "fluo_532", "bb700"]]
data.describe()

         fluo_440    fluo_470    fluo_532       bb700
count  108.000000  108.000000  108.000000  108.000000
mean   116.600516  136.580720   65.680281  150.795264
std     75.802389  100.732737   25.180659   40.043849
min     50.819277   50.000000   50.888889   88.000000
25%     68.305085   71.553676   54.983333  123.240032
50%     90.608696  101.458333   58.629870  143.844664
75%    124.278571  144.901190   68.518890  170.808824
max    394.405594  522.418440  278.220286  261.378378

Divide the dataset into learning and training test

In [4]:
from sklearn.model_selection import train_test_split

data_train, data_test, target_train, target_test = train_test_split(
    data, target, random_state=42)

In [5]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

model = Pipeline(steps=[
    ("preprocessor", StandardScaler()),
    ("classifier", KNeighborsClassifier(n_neighbors=5)),
])

In [7]:
from sklearn.model_selection import cross_validate

cv_results = cross_validate(model, data, target, cv = 5)
scores = cv_results["test_score"]
print(scores)

[0.5        0.72727273 0.90909091 0.61904762 0.47619048]